<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/test/css/dbtest.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
    <script src="/static/test/javascript/bundle.js"></script>
</head>

<body>
    <div class="login_page">
        <form id="login_form">
            <div class="input-container">
                <input type="text" id="email" required="required"/>
                <label for="email">Email</label>
            </div>
            <div class="input-container">
                <input type="password" id="password" required="required"/>
                <label for="password">Password</label>
            </div>
            <div class="button-container">
                <button id="login_button">Log In</button>
                <button id="create_user_button">Create User</button>
            </div>
        </form>
    </div>
</body>

</html>
